<div class="not-found">
  <div class="not-found__hero">
    <img
      class="not-found__image"
      src="assets/images/404.png"
      alt="Page not found" />
  </div>

  <h1 class="not-found__title mat-headline-1">Page not found</h1>

  <p class="not-found__description mat-subtitle-1">
    Oops! Looks like you followed a bad link. If you think this is a problem
    with us, please tell us.
  </p>

  <button mat-raised-button color="primary" routerLink="/dashboard">
    Go Back Home
  </button>
</div>
