@use 'abstracts' as abstracts;

.not-found {
  max-width: abstracts.rem(700);
  margin: 0 auto;
  padding: abstracts.rem(48) abstracts.rem(24);
  text-align: center;

  &__hero {
    margin-bottom: abstracts.rem(32);
  }

  &__image {
    display: block;
    width: 100%;
    max-width: abstracts.rem(1000);
    margin-inline: auto;
  }

  &__title {
    margin: 0 0 abstracts.rem(16);
  }

  &__description {
    margin-bottom: abstracts.rem(32);
    color: abstracts.$text-secondary;
  }
}
