@use 'functions' as fn;

$text-secondary: #6b7280;
$text-error: #d32f2f;

$color-surface-base: #ffffff;
$color-surface-secondary: #fbfcfe;
$border-primary: #e0e0e0;

$breakpoints-up: (
  mobile: 320px,
  tablet: 768px,
  small-desktop: 1024px,
  desktop: 1440px,
);
