@use 'functions' as fn;

$text-secondary: #6b7280;
$text-error: #d32f2f;

$color-surface-base: #ffffff;

$breakpoints-up: (
  mobile: fn.rem(320),
  tablet: fn.rem(768),
  small-desktop: fn.rem(1024),
  desktop: fn.rem(1440),
);
