@use 'abstracts' as abstracts;

.dashboard-page {
  display: flex;
  flex-direction: column;
  padding-inline: abstracts.rem(16);
  background-color: abstracts.$color-surface-base;

  &__analytics {
    display: grid;
    grid-template-columns: 1fr;
    gap: abstracts.rem(12);

    @include abstracts.respond-up(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
