@use 'abstracts' as abstracts;

.top-customers {
  &__loading,
  &__error,
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__customer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: abstracts.rem(12);
    padding: abstracts.rem(16) 0;

    @include abstracts.respond-up(mobile) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: abstracts.rem(16);
    width: 100%;
  }

  &__avatar {
    width: abstracts.rem(48);
    height: abstracts.rem(48);
    border-radius: 50%;
  }

  &__email {
    display: none;
    color: abstracts.$text-secondary;
    font-size: abstracts.rem(14);

    @include abstracts.respond-up(tablet) {
      display: block;
    }
  }

  &__amount {
    align-self: center;
  }
}
