@use 'abstracts' as abstracts;

.layout {
  height: 100%;

  &__sidebar {
    width: abstracts.rem(260);
    border-right: abstracts.rem(1) solid abstracts.$border-primary;
  }

  &__content {
    height: 100%;
    overflow: auto;
  }
}
