<footer class="footer">
  <div class="footer__copyright mat-caption">
    © 2021 Themesberg, LLC. All rights reserved.
  </div>

  <div class="footer__social">
    <button mat-icon-button aria-label="Facebook">
      <mat-icon> facebook </mat-icon>
    </button>

    <button mat-icon-button aria-label="Twitter">
      <mat-icon> facebook </mat-icon>
    </button>

    <button mat-icon-button aria-label="GitHub">
      <mat-icon> facebook </mat-icon>
    </button>

    <button mat-icon-button aria-label="Website">
      <mat-icon> language </mat-icon>
    </button>
  </div>
</footer>
