<footer class="footer">
  <div class="footer__copyright mat-caption">
    © 2021 Themesberg, LLC. All rights reserved.
  </div>

  <div class="footer__social">
    <button mat-icon-button aria-label="Facebook">
      <img
        class="footer__icon"
        src="assets/images/facebook.svg"
        alt="Facebook" />
    </button>

    <button mat-icon-button aria-label="Twitter">
      <img class="footer__icon" src="assets/images/twitter.svg" alt="Twitter" />
    </button>

    <button mat-icon-button aria-label="GitHub">
      <img class="footer__icon" src="assets/images/github.svg" alt="GitHub" />
    </button>

    <button mat-icon-button aria-label="Website">
      <img class="footer__icon" src="assets/images/lang.svg" alt="Website" />
    </button>
  </div>
</footer>
